<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div ID="app">
        <input type="text" id="toDoText" v-model="toDoText">
        <button id="addButton" @click="addTodo">Ekle</button>

        <ul id="toDoList">
            <li v-for="todo in toDoList" :key="todo">{{todo}}
            </li>

        </ul>
    </div>
    <script src="app.js">

    </script>
</body>

</html>